<!DOCTYPE html>
<html>
<head>
<style>
p{
    
}
	

p {
    color: blue;
}
body{
	background-color: gray;
	 background-repeat: repeat-x;
    width: 1000px;
    padding: 50px;
    border: 5px solid gray;
    margin: 10px;
    text-align: center;

}
         
}
div {
    background-color: SlateBlue;
    width: 40px;
    border: 0;
    padding: 0;
    margin: 10px;
}
h {
	color: red;
	font-size: 300%;
}
h1 {
	color: blue;
	font-size: 300%;
}



</style>
</head>
</html>